div.row{
    display: flex;
}

div.square{
    width: 100px;
    height: 100px;
}

div.light{
    background-color: lightgrey;
}

div.dark {
    background-color: darkgrey;
}

img.game-piece {
    max-width: 99%;
    border-radius: 50%;
}
